@media screen and (min-width: 1024px) {
  .mobileNav {
    display: none;
  }

  .mobileMenuBtn {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .headerTitle {
    font-size: 6rem;
  }
  .leftHeader,
  .rightHeader {
    width: 45%;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 55%;
  }
  .searchInput {
    display: none;
  }
  .fa-search {
    padding: 0;
  }
  .searchPart {
    padding: 0;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .rightNav {
    display: none;
  }
  .midLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchPart {
    display: none;
  }
  .mobileMenuBtn {
    display: flex;
  }
  .darkBtn {
    display: none;
  }
  .headerWrapper {
    padding-top: 15rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100rem;
  }
  .headerTitle {
    font-size: 5rem;
    width: 50rem;
  }
  .rightHeader {
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
  }
  .rightHeaderTop {
    max-width: 32rem;
    font-size: 1.7rem;
  }
  .startHere {
    padding: 1rem;
    margin-left: 2rem;
  }
  .leftHeader {
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .whoBtn {
    margin-left: 0.5rem;
  }
  .whoText {
    font-size: 1.8rem;
    width: 12rem;
  }
}
@media screen and (max-width: 768px) {
  .signInPart {
    display: none;
  }
  .leftNav {
    display: none;
  }
  .userIconWrapper {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 402px) {
  .headerBtns {
    flex-direction: column;
  }
  .headerTitle {
    font-size: 2.2rem;
    max-width: 30rem;
  }
  .rightHeaderTop {
    max-width: 18rem;
    font-size: 1.3rem;
  }
  .headerWrapper {
    overflow-x: hidden;
  }
  .headerBtns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .startHere {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
  }
}
