:root {
  --background-color: rgba(243, 244, 246, 1);

  --text-color: rgb(63, 63, 70);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  direction: rtl;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Regular";
  background-color: var(--background-color);
  color: var(--text-color);
}

/* ================== */

/* Desktop Nav */

/* ================== */

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  background-color: var(--background-color);
  padding: 5rem 4rem;
  color: var(--text-color);
  box-shadow: 0px 14px 28px -14px rgba(66, 68, 90, 0.4);
}
.rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.logoPart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  margin-left: 2rem;
  border-left: 1px solid rgba(63, 63, 70, 0.1);
  cursor: pointer;
}
.logoImg {
  width: 12rem;
  display: block;
}
.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  cursor: pointer;
  position: relative;
  padding: 0.7rem;
}
.navMenuLink,
.subMenuLink {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subMenuLink {
  font-family: "Light";
  font-size: 1.7rem;
}
.navMenuLink:hover,
.subMenuLink:hover {
  color: #2ed573;
}

.navMenuLink > i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.subMenu {
  position: absolute;
  width: 30rem;
  padding: 2rem 2rem;
  background-color: var(--background-color);
  top: 4rem;
  right: 4rem;
  box-shadow: 0px 0px 40px -22px rgba(66, 68, 90, 1);
  border-radius: 2rem;
  display: none;
  transition: all 0.2s ease-in-out;
}
.navMenuItem:hover .subMenu {
  display: block;
}
.subMenuItem {
  padding: 1rem 1rem;
}

.leftNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchPart {
  background-color: rgba(183, 185, 190, 0.2);
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
}
.searchInput {
  border: none;
  outline: none;
  width: 15rem;
  padding: 1.5rem 0rem;
  background-color: transparent;
  font-family: "Light";
  font-size: 1.8rem;
  color: #64748b;
  padding-right: 2rem;
  transition: all 0.2s ease-in-out;
}
.searchInput::-webkit-search-cancel-button,
.searchInput::-webkit-search-clear-button {
  appearance: none;
  display: none;
}

.searchInput:focus {
  margin-left: 8rem;
}

.fa-search {
  padding-left: 1rem;
  font-size: 2rem;
  color: #64748b;
  font-weight: 00;
  opacity: 0.8;
}

.signInPart {
  display: flex;
  align-items: center;
  margin-right: 10rem;
}
.signIn {
  background-color: rgba(14, 165, 233);
  padding: 1.8rem 3rem;
  border-radius: 4rem;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.logIn {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  border-radius: 4rem;
  color: #fff;
  text-decoration: none;
  background-color: rgba(14, 165, 233, 0.5);
  position: absolute;
  padding-left: 7rem;
  padding-right: 2rem;
  left: 10rem;
}
.logIn:hover {
  background-color: rgba(14, 165, 233, 0.75);
}
.signIn:hover {
  background-color: rgb(13, 144, 204);
}
.midLogo {
  display: none;
}
.midLogo > img {
  width: 10rem;
}
.searchPartMobile {
  background-color: rgba(183, 185, 190, 0.2);
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
}
.mobileNav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30rem;
  right: -35rem;
  background-color: var(--background-color);
  padding: 3rem 3rem;
  transition: all 0.2s ease-in-out;
}
.mobileNavMenu {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(63, 63, 70, 0.1);
}
.mobileMenuBtn {
  width: 6rem;
  height: 6rem;
  background-color: var(--background-color);
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: none;
}
.menuBtnLine {
  display: block;
  width: 4rem;
  height: 0.5rem;
  background-color: var(--text-color);
  border-radius: 8rem;
  position: relative;
}
.menuBtnLine::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.5rem;
  background-color: var(--text-color);
  border-radius: 8rem;
  top: -1rem;
}
.menuBtnLine::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.5rem;
  background-color: var(--text-color);
  border-radius: 8rem;
  top: 1rem;
}
.mobileTopPart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(63, 63, 70, 0.1);
  margin-bottom: 4rem;
}
.mobileLogoImg {
  width: 7rem;
  display: block;
  margin-left: 0.5rem;
}
.mobileSabz > img {
  width: 10rem;
  margin-right: 1rem;
}
#mobileCancel {
  font-size: 3rem;
  margin-right: 2rem;
  cursor: pointer;
}
.searchPartMobile {
  background-color: rgba(183, 185, 190, 0.2);
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
}
.searchInputMobile {
  border: none;
  outline: none;
  width: 15rem;
  padding: 1.5rem 0rem;
  background-color: transparent;
  font-family: "Light";
  font-size: 1.8rem;
  color: #64748b;
  padding-right: 2rem;
  transition: all 0.2s ease-in-out;
}
.searchInputMobile::-webkit-search-cancel-button,
.searchInputMobile::-webkit-search-clear-button {
  appearance: none;
  display: none;
}

.searchInputMobile:focus {
  margin-left: 2rem;
}

.fa-search {
  padding-left: 1rem;
  font-size: 2rem;
  color: #64748b;
  font-weight: 00;
  opacity: 0.8;
}
.navMenuItemMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  cursor: pointer;
  position: relative;
  padding: 0.7rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 2rem;
}
.subMenuMobile {
  position: absolute;
  width: 30rem;
  padding: 2rem 3rem;
  background-color: var(--background-color);
  top: 4rem;
  box-shadow: 0px 0px 40px -22px rgba(66, 68, 90, 1);
  border-radius: 2rem;
  display: none;
  transition: all 0.2s ease-in-out;
}

.activeMenu {
  right: 0;
}
.activeSub {
  display: block;
  position: absolute;
  z-index: 99;
}
.userIconWrapper {
  background-color: rgba(183, 185, 190, 0.2);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.userIconWrapper i {
  font-size: 2rem;
}
.darkBtn {
  width: 5rem;
  height: 5rem;
  background-color: rgba(183, 185, 190, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 2.5rem;
}
#moon,
#moonMobile {
  font-size: 2.5rem;
}
#sun,
#sunMobile {
  font-size: 2rem;
  display: none;
}
.darkBtnMobile {
  width: 5rem;
  height: 5rem;
  background-color: rgba(183, 185, 190, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 3rem;
  margin-top: 2rem;
}
.activeArrow {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

/* ================== */

/* Header */

/* ================== */

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80rem;
  margin: 0 auto;
}

.rightHeader {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 3rem;
}
.rightHeaderTop {
  background-color: var(--background-color);
  box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
  padding: 1rem 2rem;
  border-radius: 2rem;
  max-width: 38rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.greenPartTop {
  color: #2ed573;
}
.noticePartTop {
  color: var(--text-color);
}
.headerTitle {
  font-family: "MBold";
  font-size: 8rem;
  width: 80rem;
}
.headerCaption {
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-family: "Light";
}
.headerBtns {
  display: flex;
  align-items: center;
}
.startHere {
  width: 18rem;
  background-color: rgba(14, 165, 233, 0.75);
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  padding: 1.5rem 2rem;
  margin-left: 5rem;
  font-size: 2rem;
}
.whoRWe {
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whoBtn {
  width: 4rem;
  height: 4rem;
  background-color: #2ed573;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  margin-left: 1.5rem;
}
.whoText {
  font-family: "Light";
  font-size: 2rem;
}
.leftHeader {
  width: 50%;
  margin-right: 3rem;
}

/* ================== */

/* Main  */
/* Last Courses */

/* ================== */

.mainSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}
.mainTop {
  display: flex;
  flex-direction: column;
}
.maintopTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}
.mainTitleSquare {
  width: 1rem;
  height: 1rem;
  background-color: #fbbf24;
  margin-left: 1rem;
}
.mainTitle {
  font-size: 3rem;
  font-family: "Bold";
  color: var(--text-color);
}
.mainTopText {
  font-size: 2rem;
  color: #64748b;
}
.mainBot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainBot {
  font-size: 1.8rem;
}
.mainBotRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBotRightText {
  color: #64748b;
}
.mainBotLeftText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0ea5e9;
}
.mainBotLeftText > i {
  margin-right: 0.6rem;
}

/* ================== */

/* Courses */

/* ================== */
.lastCourses {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.course {
  flex-grow: 1;
  width: 30rem;
  height: 43rem;
  margin-top: 2rem;
  margin-right: 1.2rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 0px 5px 0.5px rgba(66, 68, 90, 0.5);
}
.courseBanner {
  border-radius: 1.5rem;
  height: 18rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.chatGPT {
  background: url("./../public/images/courses/chatgpt-852x479-1-768x432.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tailwind {
  background: url("./../public/images/courses/tailwind.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reactLibrary {
  background: url("./../public/images/courses/sabz-react2library-2-768x432.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.redux {
  background: url("./../public/images/courses/sabz-redux-768x432.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nextjs {
  background: url("./../public/images/courses/sabz-next-768x432.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pwa {
  background: url("./../public/images/courses/PWA-min-1-768x432.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.github {
  background: url("./../public/images/courses/گیت-و-گیتهاب-2-min-1-768x432.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mern {
  background: url("./../public/images/courses/MernStack2-min-768x432.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.courseOff {
  background-color: #2ed573;
  color: #fff;
  border-radius: 1rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.courseContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.courseCategory {
  color: rgb(14, 165, 233);
  background-color: rgba(14, 165, 233, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  align-self: flex-start;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
.courseTitle {
  font-family: "Bold";
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.courseCaption {
  text-overflow: ellipsis;
  width: 28rem;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4rem;
  color: #64748b;
  font-family: "Light";
}
.courseDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #64748b;
  font-size: 1.3rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(63, 63, 70, 0.1);
  margin-bottom: 1rem;
}
.courseAuthor > i,
.courseDuration > i {
  margin-left: 0.5rem;
}
.courseStars > i {
  margin-right: 0.5rem;
}
.courseStars {
  color: #fbbf24;
}
.courseUsersPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}
.coursePricePart {
  display: flex;
  flex-direction: column;
  width: 8rem;
  align-self: flex-end;
}
.usersCountPart {
  align-self: flex-end;
  color: var(--text-color);
}
.mainPrice {
  align-self: flex-start;
  font-size: 1.6rem;
  text-decoration: line-through;
  font-family: "Light";
}
.free {
  align-self: flex-end;
  color: #2ed573;
}
.gitContent {
  display: flex;
}
.gitContent .courseCategory {
  margin: 0 0.5rem;
  margin-bottom: 1.5rem;
}

/* RoadMap Section */
.roadMap,
.whatHelp {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.roadMapHeaderTop,
.helpTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.roadMapHeaderSquare,
.helpTopSquare {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #d946ef;
  margin-left: 1rem;
}
.helpTopSquare {
  background-color: #0ea5e9;
}
.roadMapHeaderTitle,
.helpTopTitle {
  color: var(--text-color);
  font-size: 3rem;
  font-family: "Bold";
}
.roadMapHeaderBotText,
.helpBotText {
  color: #64748b;
  font-size: 2rem;
}
.roadMapMain,
.whatHelpMain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.roadMapColumn {
  flex-grow: 1;
  width: 30rem;
  height: 16rem;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 0px 5px 0.5px rgba(66, 68, 90, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.frontBg {
  background: rgb(255, 181, 53);
  background: linear-gradient(
    70deg,
    rgba(255, 181, 53, 1) 19%,
    rgba(242, 41, 91, 1) 81%
  );
}
.secureBg {
  background: rgb(48, 196, 229);
  background: linear-gradient(
    70deg,
    rgba(48, 196, 229, 1) 19%,
    rgba(39, 229, 92, 1) 81%
  );
}
.pythonBg {
  background: rgb(156, 51, 247);
  background: linear-gradient(
    70deg,
    rgba(156, 51, 247, 1) 19%,
    rgba(43, 159, 255, 1) 81%
  );
}
.softBg {
  background: rgb(255, 53, 113);
  background: linear-gradient(
    70deg,
    rgba(255, 53, 113, 1) 19%,
    rgba(135, 0, 117, 1) 81%
  );
}
.columnTop {
  background-color: #fff;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.columnTopNumber {
  align-self: center;
  justify-self: center;
}
.columnBot {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  font-size: 2.4rem;
}
.helpWrapper {
  flex-grow: 1;
  width: 50rem;
  height: 16rem;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 5px 0.5px rgba(66, 68, 90, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
.helpRight {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  background: rgb(14, 165, 233);
  background: linear-gradient(
    90deg,
    rgba(14, 165, 233, 0.3) 27%,
    rgba(14, 165, 233, 1) 68%
  );
}
.teachingCircle {
  background: rgb(46, 213, 115);
  background: linear-gradient(
    90deg,
    rgba(46, 213, 115, 0.3) 27%,
    rgba(46, 213, 115, 1) 68%
  );
}
.freeCircle {
  background: rgb(234, 179, 8);
  background: linear-gradient(
    90deg,
    rgba(234, 179, 8, 0.3) 27%,
    rgba(234, 179, 8, 1) 68%
  );
}
.benefitsCircle {
  background: rgb(236, 72, 153);
  background: linear-gradient(
    90deg,
    rgba(236, 72, 153, 0.3) 27%,
    rgba(236, 72, 153, 1) 68%
  );
}
.helpLeft {
  width: 80%;
  margin-right: 1rem;
}
.helpLeftTitle {
  font-size: 2rem;
  font-family: "Bold";
  margin-bottom: 1rem;
}
.helpLeftCaption {
  color: #64748b;
}
